@font-face {
    font-family: 'FORTE';
    src: url('/fonts/FORTE.TTF') format('truetype');

    font-family: 'VLADIMIR';
    src: url('/fonts/VLADIMIR.TTF') format('truetype');

    font-family: 'segoe-ui';
    src: url('/fonts/segoe-ui.ttf') format('truetype');
}


body{
    margin: 0;
    padding: 0;
    font-family: 'FORTE' , 'VLADIMIR' , 'segoe-ui';
    background-color: #2c3e50;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 20px #ffffff44;
}

.topBox{
    position: absolute;
    top: -35px;
    left: 100px;
    width:100px;
    height:70px;
    background-color: #e74c3c;
    border-radius: 15px;
}



.b1{
    position: absolute;
       
    top: 150px;
    left: 100px;
    color: #000000;

}


.c1{
    position: absolute;
       
    top: 25px;
    left: 35px;
    color: #ffffff;

}


.bottomBox{
    position: absolute;
    top: 275px;
    left: 75px;
    width:150px;
    height:50px;
    background-color: #e74c3c;
    border-radius: 15px;

}


.c2{
    position: absolute;
       
    top: 15px;
    left: 45px;
    color: #ffffff;

}








